.spacer {
    flex: 1 1 auto;
  }
  
  .app-icon {
    height: 3rem;
    width: 3rem;
    fill: #ff9800;
    /*fill: #FF5722;*/
  }
  
  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
  }
  
  .nav-menu .mat-button {
    font-size: 1.1rem;
  }
  
  .nav-menu .mat-button .mat-icon {
    padding-right: 0.5rem;
  }
  
  .nav-menu .mat-icon-button .mat-icon {
    font-size: 1.55rem;
  }
  
  .nav-menu .mat-icon-button .mat-icon:hover {
    font-size: 1.6rem;
  }
  
  /* .mat-menu .mat-menu-item {
    font-size: 1.1rem;
  }
  
  .mat-menu .mat-menu-item .mat-icon {
    font-size: 1.55rem;
  }
  
  .mat-menu .mat-menu-item .mat-icon:hover {
    font-size: 1.6rem;
  } */
  
  